.main{
    background: url('../images/font.webp');
    background-repeat: no-repeat;
    background-size: cover;
}
.banner{
    background: url('../images/font.webp');
    background-repeat: no-repeat;
    background-size: cover; 
}